body
{
	background-image: url("Img/CV.jpg");
}
.fa,
.fas,
.far,
.fal,
.fad,
.fab
{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; 
}
h1
{
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}
@font-face
{
	font-family: 'GeosansLight';
	src: url('GeosansLight.ttf');
}
article
{
	font-family: 'GeosansLight', Arial, serif;
	color: #020c99fd;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(107, 2, 2);
}
h1, h2
{
	font-family: 'GeosansLight', Arial, serif;
	color: #020c99fd;
	font-weight: bold;
}
h2
{
	text-shadow: 2px 2px 2px rgb(107, 2, 2);
	font-size: 2em;
	border-bottom:3px solid darkblue;
	box-shadow: 0px 2px 0px red;
	margin-right: 30px;
}
h3
{
	font-family: 'GeosansLight', Arial, serif;
	color: white;
	text-align: center;
	font-size: 2em;
	background-color: rgba(255, 9, 9, 0.5);
}
.image2
{
  text-align: center;
	margin-top: 10%;
}
.contact,
.propos
{
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	margin-right: 1em;
	text-align: left;
	font-family: 'GeosansLight', Arial, serif;
	font-size: 1.2em;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	overflow-wrap: break-word;	
}
.loisirs
{
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 10%;
	word-spacing: 1.5em;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	text-align: center;
}
#lisere
{
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgba(66, 23, 240, 0.5);
	width: 20%;
	height: 1200px;
	margin-top: -1%;
	margin-left: -1%;
	text-align: center;
	}
.fa
{
	word-spacing: 2em;
	padding-right: 5%;
	color: rgba(255, 9, 9, 0.7); 
	text-shadow: 2px 2px 2px hsl(0, 0%, 0%);
}
main
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 30%;
}
article
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	width: 1000px;
}
.text
{
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
}
@media screen and (max-width: 1048px)
{
.image2
{
	float: right;
}
#lisere
{
	background-color: transparent ;
	position: absolute;
	right: 0%;
	width: 30%;
	margin-left: 30%;
}
.text
{
	width: auto;
}
h3
{
	background-color: transparent ;
}
.contact
{
	color: #020c99fd;
	text-shadow: 2px 2px 2px rgb(107, 2, 2);
}
main
{
	flex-direction: column;
	margin-left: 0%;
	margin-right: 40%;
	text-align: justify;
	width: 65%;
}
article
{
	width: 100%;
	text-align: justify;
	flex-direction: column;
}
h1
{
	font-size: 2.5em;
}
h2
{
	font-size: 1.5em;
}

h3,
.propos,
.loisirs,
.fas,
.fab,
.data
{
	display: none;

}
}
@media screen and (max-width: 640px)
{
.contact
{
	display: none;
}
main,
article
{
	width: 100%;
	text-align: center;
}
h1
{
	text-align: left;
	width: 60%;
}
}